@using Microsoft.Extensions.Options
@inject IOptions<Booktopia.Domain.StripeSettings> Stripe
@model Booktopia.Domain.DTO.ShoppingCartDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">


    <div class="row m-4">
        @*<a asp-controller="ShoppingCart" asp-action="Order" class="btn btn-info">Order Now</a>*@
        @if (Model.TotalPrice != 0)
        {
            <form asp-controller="ShoppingCart" asp-action="PayOrder" method="post">
                <article>
                    <script src="https://checkout.stripe.com/checkout.js"
                            class="stripe-button"
                            data-key="@Stripe.Value.PublishableKey"
                            data-locale="auto"
                            data-description="Booktopia Payment"
                            data-amount="@(Model.TotalPrice * 100)"
                            data-label="Pay $@Model.TotalPrice">
                    </script>
                </article>
            </form>
        }
    </div>

    <div class="row m-4">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Book Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Book's Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Books.Count == 0)
                {
                    <tr>
                        <td colspan="5"><i>Shopping cart is empty</i></td>
                    </tr>
                }
                else
                {
                    @for (int i = 0; i < Model.Books.Count; i++)
                    {
                        var item = Model.Books[i];

                        <tr>
                            <th scope="row">@(i + 1)</th>
                            <td>@item.Book.BookName</td>
                            <td>@item.Quantity</td>
                            <td>$@item.Book.BookPrice</td>
                            <td><a asp-controller="ShoppingCart" asp-action="DeleteFromShoppingCart" asp-route-id="@item.BookId" class="btn btn-danger">Delete from ShoppingCart</a></td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot class="thead-dark">
                <tr>
                    <th scope="col">TotalPrice:</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">$@Model.TotalPrice</th>
                </tr>
            </tfoot>
        </table>
    </div>

</div>