@model Booktopia.Domain.DTO.SearchBooksByGenreDto


<div class="container mt-5">
    <form asp-action="ListBooksByGenree">
        <h4 class="mb-4">Select Genre:</h4>
        <select class="custom-select mb-5" id="Genree" name="Genre">
            <option selected>Choose...</option>
            @foreach (var opt in Model.Genres)
            {
                <option value="@opt">@opt</option>
            }


        </select>

        <input class="btn btn-primary" type="submit" value="Search" /> |
        <a class="btn btn-link" asp-action="Index">Back to List</a>
    </form>
</div>

<div class="container mt-5">
    <h4 class="text-center">Search Results</h4>
    <hr />
    @if (Model.Books.Count == 1 && Model.Books.ElementAt(0).BookName.Equals(""))
    {

    }
    else
    {
<ul>

    @foreach (var book in Model.Books)
    {
        <li class="mb-3">
            <img src="@book.BookImage" style="height: 100px; width: 130px"/> |
            <a asp-controller="Books" asp-action="Details2" asp-route-id="@book.Id">@book.BookName</a>
            <p>Written by: <b>@book.Author</b></p>
        </li>
    }
</ul>
    }

</div>

